html {
	background-image: url("res/explosion.png");
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}
body {
	font-family: "Times New Roman", Times, serif;
}
#wrap {
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	text-align: center;
}
.link {
	color: black;
	text-decoration: underline;
}

.link:hover{
	color: white;
}
.title {
	border: 5px solid black;
	border-radius: 5px;
}
.gameTitle {
	background-color: black;
	border: 3px solid black;
	border-radius: 5px;
	color: white;
	max-width: 200px;
	text-align: center;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
}